mi_entorno/
.vscode/
cuda/
prueba.py
mi_entorno_old/
new_entorno/
entorno_py_3_10/
csvs/
fotos/
instrucciones.txt
external/panorama_extended/out/
external/panorama_extended/out.zip
pubis_data_proc_25_panorama_norm/
pubis_data_proc_25_panorama_norm.zip
training/__pycache__
separate_planes/__pycache__
*.csv
/separate_planes/normalized_data
/separate_planes/slurm_separated_planes.sh